@page
@model MyApp.Namespace.ListNovedadesModel
@{
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Gestión de novedades</h2>
</div>
<br>
<div class="col-md-5 contenedor-btn-agregar">
    <a class="btn btn-success boton-agregar" asp-page="./Create">
        <i class="fas fa-plus-circle"></i>
        <span class="tooltip">Agregar novedad</span>
    </a>
</div>
<br>
<br>
<div class="text-center" >
    <table class="table table-hover">
        <tr>
            <th>Fecha</th>
            <th>Número días</th>
            <th>Texto explicativo</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var novedad in Model.Novedades)
        {
            <tr>
                <td>@novedad.Fecha.Date.ToString()</td>
                <td>@novedad.NumeroDias</td>
                <td>@novedad.TextoExplicativo</td>
                <td class="text-center">
                    <a class="btn btn-secondary table-btn" asp-page="./Details" asp-route-IdNovedad="@novedad.Id">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-IdNovedad="@novedad.Id">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-IdNovedad="@novedad.Id">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <br>
    <h5>Existen @Model.Novedades.Count() novedades en la base de datos.</h5>
</div>